.documentation-button {
    background-color: #3b8ddf;
    border: unset;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: .1s;
    -webkit-user-select: none;
    user-select: none;
}